<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>servlets.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveTreatments</servlet-name>
        <servlet-class>servlets.ActiveTreatments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnDoctors</servlet-name>
        <servlet-class>servlets.ReturnDoctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileData</servlet-name>
        <servlet-class>servlets.ChangeProfileData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAppointment</servlet-name>
        <servlet-class>servlets.AddAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatientID</servlet-name>
        <servlet-class>servlets.GetPatientID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>servlets.GetAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewTreatment</servlet-name>
        <servlet-class>servlets.CreateNewTreatment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewBloodTest</servlet-name>
        <servlet-class>servlets.InsertNewBloodTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRandevouzID</servlet-name>
        <servlet-class>servlets.GetRandevouzID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllPatientsInfo</servlet-name>
        <servlet-class>servlets.getAllPatientsInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPatientTreatments</servlet-name>
        <servlet-class>servlets.getPatientTreatments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBTResults</servlet-name>
        <servlet-class>servlets.GetBTResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientBTinfo</servlet-name>
        <servlet-class>servlets.patientBTinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocRandevous</servlet-name>
        <servlet-class>servlets.DocRandevous</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRandevouz</servlet-name>
        <servlet-class>servlets.UserRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRandevouToDone</servlet-name>
        <servlet-class>servlets.UpdateRandevouToDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRandevouState</servlet-name>
        <servlet-class>servlets.UpdateRandevouState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectRandevou</servlet-name>
        <servlet-class>servlets.SelectRandevou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>servlets.PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>servlets.pdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveTreatments</servlet-name>
        <url-pattern>/ActiveTreatments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnDoctors</servlet-name>
        <url-pattern>/ReturnDoctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileData</servlet-name>
        <url-pattern>/ChangeProfileData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAppointment</servlet-name>
        <url-pattern>/AddAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatientID</servlet-name>
        <url-pattern>/GetPatientID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/GetAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewTreatment</servlet-name>
        <url-pattern>/CreateNewTreatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewBloodTest</servlet-name>
        <url-pattern>/InsertNewBloodTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRandevouzID</servlet-name>
        <url-pattern>/GetRandevouzID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllPatientsInfo</servlet-name>
        <url-pattern>/getAllPatientsInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPatientTreatments</servlet-name>
        <url-pattern>/getPatientTreatments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBTResults</servlet-name>
        <url-pattern>/GetBTResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientBTinfo</servlet-name>
        <url-pattern>/patientBTinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocRandevous</servlet-name>
        <url-pattern>/DocRandevous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRandevouz</servlet-name>
        <url-pattern>/UserRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRandevouToDone</servlet-name>
        <url-pattern>/UpdateRandevouToDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRandevouState</servlet-name>
        <url-pattern>/UpdateRandevouState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectRandevou</servlet-name>
        <url-pattern>/SelectRandevou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
